/* General settings for web browsers */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================================================================ */

/* Mobile version first */
@media (min-width: 375px) {
  body {
    display: flex;
  }
}

/* ============================================================================= */

/* Desktop version Then */
@media (min-width: 768px) {
  body {
    display: flex;
  }
}
